
#important-new1 {
    background-image: url("/assets/img/tendencia/fnaf.jpg");
}

#important-new2 {
    background-image: url("/assets/img/tendencia/unity.jpg");
}

#important-new3 {
    background-image: url("/assets/img/tendencia/xokas.jpg");
}