
#important-new1 {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.peacocktv.com%2Fstream-movies%2Ffive-nights-at-freddys&psig=AOvVaw0wLOf7k89cOtINWefMz5ok&ust=1699118181734000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLj6_dGqqIIDFQAAAAAdAAAAABAD");
}

#important-new2 {
    background-image: url("/assets/img/tendencia/unity.jpg");
}

#important-new3 {
    background-image: url("/assets/img/tendencia/xokas.jpg");
}